.idea/workspace.xml
.env
node_modules
prod
/prod-*
/test-*
dev/assets/graphics/avif
dev/assets/graphics/jpg
dev/assets/graphics/png-compressed
dev/assets/graphics/webp
dev/assets/fonts/test
dev/js/game.js
dev/js/game.js.map
dev/js/temp
*.zip
scripts/phaser-custom/dist
scripts/texts/gsheets-credentials.json
scripts/sftp.json
tsconfig.tsbuildinfo
scripts/browser-sync/*.pem
TODO
screenshots
