#app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: grid;
    grid-template-columns: 340px auto 340px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.sidebar-container {
    display: flex;
    align-items: start;
    background-color: #4986CC;
    overflow: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-container::-webkit-scrollbar {
    display: none;
}

.sidebar {

}

.sidebar > div {
    margin-bottom: 10px;
}

#left-sidebar {
    transform-origin: top left;
}

#right-sidebar {
    transform-origin: top right;
}

#canvas-container {
    /*background-color: orange;*/
    width: 100%;
    height: 100%;
}

#canvas-container > canvas {
    max-width: 100%;
    max-height: 100%;
}

.editor-panels-modals {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.editor-panels-modals-inner {
    transform: scale(1.2);
}

.editor-panels-modals-inner .tp-lblv_v {
    width: 220px;
}

.disable-panel-input {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 66%;
}

.tp-rotv {
    --font-family: Verdana, sans-serif !important;
}
