.tp-rotv {
    --font-family: Verdana, sans-serif !important;
}

.editor-panels {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transform-origin: top right;
    padding: 10px;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.15);
}

.editor-panels > div {
    margin-bottom: 10px;
}

#editor-panels-left {
    left: 0;
}

#editor-panels-right {
    right: 0;
}

.editor-panels-modals {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.editor-panels-modals-inner {
}

.disable-panel-input {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 66%;
}
