#feedback-widget-container {
    font-family: Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#feedback-widget-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alert {
    display: none;
    position: absolute;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    max-width: 66%;
    text-align: center;
    min-width: 400px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

#feedback-widget {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 420px;
}

#feedback-widget > textarea {
    resize: vertical;
    height: 10em;
}

.title {
    font-weight: 600;
    font-size: 1.875rem;
    color: #595959;
    margin: 0;
}

.subtitle {
    color: gray;
    margin: 8px 0 16px 0;
    font-size: 1.1rem;
}

.button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4986CC;
    color: white;
    border-radius: 20px;
    height: 58px;
    width: 100%;
}

.button-close {
    background-color: #4986CC;
    color: white;
    box-shadow: 0 4px rgba(0, 0, 0, 0.15);
    font-size: 1.8rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
    position: absolute;
    top: -1.6rem;
    right: -1.6rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-close > span {
    line-height: 0;
}

.can-hover .button-close:hover {
    background-color: #5297E6;
}

.can-hover button:hover {
    background-color: #5297E6;
}

button:active {
    background-color: #5297E6;
}

.swal2-input,
.swal2-file,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
    margin: 1em auto;
}

.swal2-input,
.swal2-file,
.swal2-textarea {
    box-sizing: border-box;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: inherit;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
    color: inherit;
    font-size: 1.125em;
}

.swal2-input.swal2-inputerror,
.swal2-file.swal2-inputerror,
.swal2-textarea.swal2-inputerror {
    border-color: #f27474 !important;
    box-shadow: 0 0 2px #f27474 !important;
}

.swal2-input:focus,
.swal2-file:focus,
.swal2-textarea:focus {
    border: 1px solid #b4dbed;
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 150, 200, 0.5);
}

.swal2-input::-moz-placeholder, .swal2-file::-moz-placeholder, .swal2-textarea::-moz-placeholder {
    color: #cccccc;
}

.swal2-input:-ms-input-placeholder, .swal2-file:-ms-input-placeholder, .swal2-textarea:-ms-input-placeholder {
    color: #cccccc;
}

.swal2-input::placeholder,
.swal2-file::placeholder,
.swal2-textarea::placeholder {
    color: #cccccc;
}

.swal2-range {
    margin: 1em auto;
    background: #fff;
}

.swal2-range input {
    width: 80%;
}

.swal2-range output {
    width: 20%;
    color: inherit;
    font-weight: 600;
    text-align: center;
}

.swal2-range input,
.swal2-range output {
    height: 2.625em;
    padding: 0;
    font-size: 1.125em;
    line-height: 2.625em;
}

.swal2-input {
    height: 2.625em;
    padding: 0 0.75em;
}

.swal2-input[type=number] {
    max-width: 10em;
}

.swal2-file {
    background: inherit;
    font-size: 1.125em;
}

.swal2-textarea {
    height: 6.75em;
    padding: 0.75em;
}

@-webkit-keyframes fadeInUpLight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpLight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUpLight {
    -webkit-animation-name: fadeInUpLight;
    animation-name: fadeInUpLight;
}
