#preloader {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: -75px;
    bottom: 0;
    left: 0;
    right: 0;
}

#preloader > svg {
    position: relative;
    top: 159px;
}

#preloader > svg > circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#preloader > p {
    color: white;
    font-size: 1.8rem;
    position: relative;
    font-family: "PoetsenOne", Verdana, sans-serif;
}

#preloader > picture {
    position: relative;
    width: 150px;
    height: 150px;
}

#preloader > picture > img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.copyright {
    display: none;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    transform-origin: bottom;
    font-size: 1rem;
}
