html,
body {
    touch-action: none;
}

body {
    background-color: black;
    margin: 0;
    font-family: Verdana, sans-serif;
}

html,
body,
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#stats {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    font-family: monospace;
    background-color: black;
    font-size: 10pt;
    padding: 3pt 7pt;
    border-top-right-radius: 6pt;
}
